.login-form h2.login-form__title {
  font-weight: 700;
  color: #83e2ff !important; }

.login-form .login-form__tab {
  padding-left: 50px; }
  .login-form .login-form__tab .login-form__tab__create_account {
    color: #4172d0 !important;
    font-weight: 700; }
  .login-form .login-form__tab a:link {
    text-decoration: none; }

.login-form .login-form__small label {
  display: table-cell;
  vertical-align: middle;
  position: relative; }

.login-form.rounded {
  border-radius: 20px !important; }

@media (max-width: 576px) {
  .login-form h2.login-form__title {
    font-size: 22px; }
  .login-form .login-form__tab {
    padding-left: 0; }
    .login-form .login-form__tab label:first-child {
      padding-left: 50px; } }
