$primary-color: #53AAAB;
$secondary-color: #A9D4D5;
$europa-color-primary: #FF9800;
$europa-color-secondary: #FFCB7F;
$africa-color-primary: #7C9B63;
$africa-color-secondary: #3E4D31;
$asia-color-primary: #FF3500;
$asia-color-secondary: #BE2800;
$oceania-color-primary: #BFBFBF;
$oceania-color-secondary: #D3D3D3;
$background-color: #F6F6F6;

